<!DOCTYPE html>
<html ng-app="PlayersModule" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="PlayersController as vm">

<table>
    <tr>
        <th>

        </th>
        <th >
            First Name
        </th>
        <th >
            Surname
        </th>
        <th >
            Sex
        </th>
        <th >
            Tier
        </th>
        <th >
            Email
        </th>
    </tr>

    <tr ng-repeat="player in vm.players">
        <td>{{player.id}}</td>
        <td>{{player.first_name}}</td>
        <td>{{player.surname}}</td>
        <td>{{player.sex}}</td>
        <td>{{player.tier}}</td>
        <td>{{player.email}}</td>
    </tr>

</table>




    <button type="button" class="btn btn-default" ng-click="vm.openModal()">Add Player</button>






<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/players.service.js"></script>
<script type="text/javascript" src="scripts/players.controller.js"></script>
<script type="text/javascript" src="scripts/players.modal.controller.js"></script>
</body>
</html>