<div class="modal-header">
    <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="newPlayerForm" novalidate>
        <label for="first_name">First name</label>
        <input type="text" id="first_name" name="first_name" ng-model="vm.player.first_name" required/>

        <label for="surname">Surname</label>
        <input type="text" id="surname" name="surname" ng-model="vm.player.surname" required/>

        <label for="sex">Sex</label>
        <select id="sex" ng-model="vm.player.sex" required>
            <option value=""></option>
            <option value="female">Female</option>
            <option value="male">Male</option>
        </select>

        <label for="tier">Tier</label>
        <select id="tier" ng-model="vm.player.tier" required>
            <option value=""></option>
            <option value="gold">Gold</option>
            <option value="silver">Silver</option>
            <option value="bronze">Bronze</option>
        </select>

        <label for="email">Email</label>
        <input id="email" type="email" name="email" ng-model="vm.player.email" required/>

    </form>

</div>
<div class="modal-footer">

    <button class="btn btn-primary" type="button" ng-click="newPlayerForm.$valid && vm.addPlayer()">Add</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>