<table>
    <tr>
        <th>

        </th>
        <th >
            First Name
        </th>
        <th >
            Surname
        </th>
        <th >
            Sex
        </th>
        <th >
            Tier
        </th>
        <th >
            Email
        </th>
    </tr>

    <tr ng-repeat="player in players.players">
        <td>{{player.id}}</td>
        <td>{{player.first_name}}</td>
        <td>{{player.surname}}</td>
        <td>{{player.sex}}</td>
        <td>{{player.tier}}</td>
        <td>{{player.email}}</td>
    </tr>

</table>
