@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
html {
  font-family: "Open Sans", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  background-color: #4f4f4f;
  align-content: center;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.container {
  width: 80%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  margin: 50px;
  border-radius: 7px;
  background-color: #ffffff;
  padding-bottom: 50px;
  position: absolute;
}
.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container header #viz-logo {
  height: 80px;
  width: 400px;
  margin-top: 14px;
  margin-right: 14px;
  margin-left: 14px;
  background-repeat: no-repeat;
  background-image: url(../assets/Viz_logo.png);
  background-image: url(../assets/Viz-logo.svg);
}
.container header .page-title {
  color: #e6e6e6;
  padding-right: 33px;
}
.container .content {
  display: flex;
  padding: 20px;
  min-height: 600px;
  justify-content: space-around;
  background-color: #f2f2f2;
  position: relative;
}
.container .content .button-panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.container .content .button-panel .sub-button-panel {
  width: 0px ;
  margin-top: 10px;
}
.container .content .button-panel .viz-btn {
  height: 30px;
  width: 150px;
  margin: 10px;
}
.playerTable {
  display: flex;
  flex-direction: column;
  min-width: 792px;
}
.playerTable tbody {
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}
.playerTable .id-col {
  min-width: 20px;
}
.playerTable .firstname-col {
  min-width: 200px;
}
.playerTable .surname-col {
  min-width: 200px;
}
.playerTable .email-col {
  min-width: 250px;
}
.playerTable .sex-col {
  min-width: 55px;
  text-align: center;
  padding: 0;
}
.playerTable .tier-col {
  min-width: 54px;
  text-align: center;
  padding: 0;
}
.playerTable .sex-male {
  background-repeat: no-repeat;
  background-image: url(../assets/icon-male.png);
  background-image: url(../assets/icon_male.svg);
}
.playerTable .sex-female {
  background-repeat: no-repeat;
  background-image: url(../assets/icon-female.png);
  background-image: url(../assets/icon_female.svg);
}
.playerTable .tier-bronze {
  background-repeat: no-repeat;
  background-image: url(../assets/tier_bronze.png);
  background-image: url(../assets/tier_bronze.svg);
}
.playerTable .tier-silver {
  background-repeat: no-repeat;
  background-image: url(../assets/tier_silver.png);
  background-image: url(../assets/tier_silver.svg);
}
.playerTable .tier-gold {
  background-repeat: no-repeat;
  background-image: url(../assets/tier_gold.png);
  background-image: url(../assets/tier_gold.svg);
}
.playerTable tr:nth-child(1) > th:nth-child(1) {
  background: #0C7DC2;
}
.playerTable tr:nth-child(odd) {
  background-color: #ffffff;
}
.playerTable tr:nth-child(even) {
  background-color: #f7f7f7;
}
.playerTable td {
  padding: 18px;
}
.playerTable th {
  padding-left: 18px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background-color: #e6e6e6;
}
.playerTable td,
.playerTable th {
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}
.playerTable tr:nth-child(even) > td.id-col.ng-binding {
  background-color: #e6e6e6;
}
.playerTable tr:nth-child(odd) > td.id-col.ng-binding {
  background-color: #f2f2f2;
}
.playerTable td.id-col {
  padding: 0;
  text-align: center;
}
.playerTable tr:hover {
  background-color: #CEECFC;
  cursor: default;
}
.playerTable tr.selected {
  background-color: #0C7DC2;
  color: #ffffff;
  cursor: default;
}
.modal-content {
  width: 440px;
}
.modal-content h3 {
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
}
.modal-content .modal-header {
  background: #4f4f4f;
}
.modal-content .modal-header .modal-title {
  color: #0C7DC2;
}
.modal-content .modal-body {
  padding: 13px;
  background-color: #e6e6e6;
}
.modal-content .form-group {
  display: flex;
  align-items: center;
  float: none;
}
.modal-content .form-group select {
  width: 167px;
  border-radius: 3px;
  padding: 4px;
}
.modal-content .form-group input {
  border-radius: 3px;
  padding: 13px;
}
.modal-content .form-group label {
  width: 20%;
  text-align: right;
  padding-right: 10px;
}
