@import 'vars';
@import 'mixins';
@import (reference) '../node_modules/@vizexplorer/viz-ui-theme/generics.less';

body {
  display: flex;
  justify-content: center;
  background-color: @viz-gray-8;
  align-content: center;
}

.ng-invalid.ng-dirty{
  border-color: #FA787E;

}
.ng-valid.ng-dirty{
  border-color: #78FA89;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;

  width: 80%;
  min-height: 800px;
  margin: 50px;
  padding-bottom: 50px;

  border-radius: 7px;
  background-color: @viz-white;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #viz-logo{
      height: 80px;
      width: 400px;
      margin-top: 14px;
      margin-right: 14px;
      margin-left: 14px;
      background-repeat:no-repeat ;
      background-image: url(../assets/Viz_logo.png);
      background-image: url(../assets/Viz-logo.svg);
    }
    .page-title {
      color: @viz-gray-3;
      padding-right: 76px;
    }
  }

  .content {
    display: flex;
    padding: 20px;
    min-height: 600px;
    min-width: 792px;
    justify-content: space-around;
    background-color: @viz-gray-2;
    position: relative;

    .button-panel{
      display: flex;
      flex-direction: column;
      padding: 10px;
      .sub-button-panel{
        width: 0px ;

      }
      .viz-btn{
        height: 30px;
        width: 150px;
        margin: 10px;
      }
    }

    section {
      position: relative;
      padding-top: 37px;
    }

    .table-wrapper{
      overflow-y: auto;
      height: 400px;

    }
    .playerTable{
      border-spacing: 0;
      min-width: 790px;

      .sortorder {
        background-image:
          linear-gradient(
            @viz-gray-3, @viz-gray-1
          );
      }
      .reverse{
        background-image:
          linear-gradient(
            @viz-gray-1, @viz-gray-3
          );
      }

      .icon-col {
        max-width: 54px;
        min-width: 54px;
        text-align: center;
        padding: 0;
      }

      .sex-male{
        .background-image('icon-male.png', 'icon_male.svg' )
      }
      .sex-female{
        .background-image('icon-female.png', 'icon_female.svg' )
      }

      .tier-bronze{
        .background-image('tier_bronze.png', 'tier_bronze.svg' )
      }

      .tier-silver{
        .background-image('tier_silver.png', 'tier_silver.svg' )
      }

      .tier-gold{
        .background-image('tier_gold.png', 'tier_gold.svg' )
      }

      tr:nth-child(1) > th:nth-child(1) {

        background: @viz-blue-6;

      }
      tr:nth-child(even) {
        background-color: @viz-white;
      }

      tr:nth-child(odd) {
        background-color: @viz-gray-1;
      }

      td {
        padding: 18px;
      }
      td.id-col {
        font-weight: 700;
        font-style: normal;
      }
      th {
        padding-left: 18px;
        border-top: 1px solid @viz-gray-5;
        border-bottom: 1px solid @viz-gray-5;
        background-color: @viz-gray-3;
      }
      td, th {
        border-right: 1px solid @viz-gray-5;
        border-left: 1px solid @viz-gray-5;

      }
      tr:nth-child(odd) > td.id-col.ng-binding{
        background-color: @viz-gray-3;
      }
      tr:nth-child(even) > td.id-col.ng-binding{
        background-color: @viz-gray-2;
      }
      td.id-col{
        padding: 0;
        text-align: center;
      }
      tr:hover{
        background-color: @viz-hover-color;

        cursor: default;
      }

      tr.selected {
        background-color: @viz-select-color;
        color: @viz-white;
        cursor: default;
      }
    }
  }
}

.modal-content{
  width: 440px;
  h3{
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
  }
  .modal-header{
  background: @viz-gray-8;
    .modal-title{
      color: @viz-blue-6;
    }
  }
  .modal-body{
    padding: 13px;
    background-color: @viz-gray-3;
  }
  .form-group{
    display: flex;
    align-items: center;
    float: none;

    select{
      width: 167px;
      border-radius: 3px;
      padding: 4px;
    }

    input{
      border-radius: 3px;
      padding: 13px;
    }

    label{
      width: 20%;
      text-align: right;
      padding-right: 10px;
    }

    .select-groups{
    }

  }

}